.services {
    min-height: 480px;
    padding: 70px 0 80px 0;
    background-color: #f6f6f6;
    box-shadow: 3px 3px 20px black;
    .title {
        padding-bottom: 30px;
    }
    &__detail {
        font-size: 22px;
        font-weight: 700;
    }
    &__descr {
        font-size: 18px;
        font-weight: 500;
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin: 30px 20px 0 20px;
            width: 200px;
            box-shadow: 3px 3px 20px black;
        }
    }
}